---
layout: default
---
{%- include horizontal-header.html -%}

<!-- Main -->
<div id="main">
    <!-- Post -->
    <article class="shade-two">
      <div class="container">
            <div class="post-navigation">
                <a href="{{ site.baseurl }}/blog/" class="back-button">
                    <i class="fa fa-arrow-left"></i> Back to Posts
                </a>
            </div>
            <header>
                <h2>{{- page.title -}}</h2>
                <p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
            </header>
        {{- content -}}
            
            <div class="post-navigation bottom">
                <a href="{{ site.baseurl }}/blog/" class="back-button">
                    <i class="fa fa-arrow-left"></i> Back to Posts
                </a>
            </div>
      </div>
    </article>
</div>